<div class="row">
    <div class="col-sm">
        <h1>Looks like something went wrong.</h1>
        <h4>Do you already have an account here? Just try to log in, otherwise, let us know what you were trying to do.</h4>
        <p><a href="/" class="btn btn-primary">Go Home</a></p>
        <p><a href="mailto:notreallymyemail@toavoidspam.com" class="btn btn-primary">Email us</a></p>
    </div>
</div>